/* You can add global styles to this file, and also import other style files */
.text-g11 {
    color: rgb(147 65 255) !important;
}

.text-g10 {
    color: rgb(147 65 255) !important;
}

.text-g9 {
    color: rgb(147 65 255) !important;
}

.text-g8 {
    color: rgb(147 65 255) !important;
}

.text-g7 {
    color: rgb(147 65 255) !important;
}

.text-g6 {
    color: #00bdff !important;
}

.text-g5 {
    color: #00bdff !important;
}

.text-g4 {
    color: #00bdff !important;
}

.text-g3 {
    color: #00bdff !important;
}

.text-g2 {
    color: #00bdff !important;
}

.text-g1 {
    color: white !important;
}

.text-success-2{
    color: rgb(48 223 38) !important;
}