<app-projection-card-body [showTable] = "true" [maxheight] = "true">
    <app-projection-card-header header [ngClass]="calc.calculateLeadItem(item)" [item] = "item" [url] = "calc.calculateURL(item)" [text] = "getText(item)" ></app-projection-card-header>
    <ng-container table-header>
        <th scope="col"></th>
        <th scope="col">Name</th>
        <th scope="col" class="my-1 text-center">Stars</th>
        <th scope="col" class="my-1 text-center">Gear</th>
        <th scope="col" class="my-1 text-center">Relic</th>
        <th scope="col" class="my-1 text-center">Power</th>
</ng-container>
    <ng-container table-body>
        <ng-container *ngFor="let item_1 of calculate() ; index as i" >

            <tr  >
                <td class="p-0" scope="row"  >
                  <div class="d-flex ">
                    <img class="pt-1" width="32" 
                        *ngIf="getImage(item_1)"
                        [src]="getImage(item_1)" alt="Place image title">
                  </div>
                </td>
                <td  >
                    <span class=" " >
                        <a class="text-white" href="https://swgoh.gg{{item_1.data.url}}" target="_blank" >
                            {{item_1.data.name}}
                        </a>
                    </span>

                </td>
                <td>
                        <div >
                            <span class="px-2">{{item_1.data.rarity}}</span>
                        </div>
                </td>
                <td >
                    <div >
                        <span class="px-2">{{item_1.data.gear_level}}</span>
                    </div>
                </td>
                <td  >
                    <div >
                        <span class="px-2" *ngIf="(item_1.data.relic_tier-2) > 0">{{item_1.data.relic_tier-2}}</span>
                    </div>
                </td>
                <td  >
                    <div >
                        <span class="px-2">{{item_1.data.power}}</span>
                    </div>
                </td>
            </tr>
          </ng-container>
    </ng-container>
</app-projection-card-body>
 