
<!-- Toolbar -->
<header class="toolbar" role="banner" class="container-fluid bg-dark text-white d-md-flex d-sm-block">
  
  <div class="d-flex flex-row p-3 ps-0 fs-4 w-100">
     
  <div class="d-block my-auto contenteb w-100">
      <h5 class="text-muted">
    <i class="bi bi-speedometer2 me-2"></i>
    Swgoh Status Tool <span class="fw-bold">v2.5</span>
  </h5>

    <app-guilds></app-guilds>
  </div>

 
  </div>
  
  <div class="d-none d-md-block  w-40 my-auto pt-1 justify-content-end" style="width: 600px !important;">
 
     <div class="d-flex">
     
        <form [formGroup]="checkoutForm"  (ngSubmit)="handleSubmit($event)" class="w-100 ps-1 d-flex">  <input   type="text" formControlName="playerid" placeholder="Ally code..." class="form-control">
        <button  type="button" class="btn  btn-primary ms-1" (click)="fetchData()" >Get</button>
      </form>

  
      </div>

      <div class="w-100 d-block text-center ">
    <form [formGroup]="inputForm" class="w-100 d-flex justify-content-center gap-4 py-2">
  <div class="form-check">
    <input 
      class="form-check-input" 
      type="checkbox" 
      id="hideCompletedTable" 
      formControlName="hidecompletedTable"
    >
    <label class="form-check-label" for="hideCompletedTable">
      Hide completed
    </label>
  </div>

  <div class="form-check">
    <input 
      class="form-check-input" 
      type="checkbox" 
      id="hideCompletedItems" 
      formControlName="hideCompleted"
    >
    <label class="form-check-label" for="hideCompletedItems">
      Hide completed items
    </label>
  </div>
</form>
    </div>
  </div>

  <div class="d-block d-md-none  w-100 my-auto   ">
     <div class="d-flex w-100 pb-2">
       

        <form [formGroup]="checkoutForm"  class="w-100 ps-1 d-flex" (ngSubmit)="handleSubmit($event)" > 
          <input  type="text" formControlName="playerid" placeholder="Ally code..." class="form-control" (keydown.enter) ="fetchData()" >
        <button  type="button" class="btn  btn-primary ms-1" (click)="fetchData()" >Get</button>
      </form>
    </div>
  
    <div class="w-100 d-block text-center ">
      <form [formGroup]="inputForm"    class="w-100 ps-1 d-flex "> 
        <div class="form-check mx-auto py-1">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1" formControlName="hidecompletedTable">
          <label class="form-check-label" for="flexCheckChecked1">
            Hide completed
          </label>
        </div>
        <div class="form-check mx-auto py-1">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2" formControlName="hideCompleted">
          <label class="form-check-label" for="flexCheckChecked2">
            Hide completed items
          </label>
        </div>
     </form>
    </div>
  </div>

  

</header>

<div class="d-block bg-dark text-white " *ngIf="ally_code">
  <app-playerinfo class="" *ngIf="!loading"></app-playerinfo>

</div>


 <div class="content" role="main" class="container-fluid bg-dark p-0">
 <div class="container-fluid  w-100 d-block bg-dark"  >
<app-loading class="bg-dark" *ngIf="loading"></app-loading>
</div>
<div class="container-fluid  w-100 d-block bg-dark text-white text-center py-4" *ngIf="!ally_code && !loading">
  <p>Please input your ally_code or select a player from the dropdown menu</p>
  <p>If you would like to contribute please contact us through the github project <a href="https://github.com/Painos80/swgohtool" target="_blank">GitHub project: swgohtool</a></p>
 
</div>

<app-tabview *ngIf="(loaded$ | async) && !(error$ | async)  && !loading"></app-tabview>

 

<div class="container-fluid  w-100 d-block bg-dark text-white text-center py-4" *ngIf="(loaded$ | async) && (error$ | async)">
  <h5 class="text-danger">An error has occured.</h5>
   <p> Please check your internet connection and the provided ally code.</p>
   <p>Error: {{(error$ | async)}}</p>
</div>
 

  <!-- Footer -->
  <app-footer></app-footer>
  
  

</div>
 
<router-outlet></router-outlet>
