<app-projection-card-body [showTable] = "showAll()">
  <app-projection-card-header header [ngClass]="calc.calculateLeadItem(item)" [item] = "item" [url] = "calc.calculateURL(item)" [text] = "getText(item)" ></app-projection-card-header>
  <ng-container table-header>
    <th scope="col"></th>
    <th scope="col">Name</th>
    <th scope="col" class="my-1 text-center">Stars</th>
    <th scope="col" class="my-1 text-center">Gear</th>
    <th scope="col" class="my-1 text-center">Relic</th>
    <th scope="col" *ngIf="item.hasminimumpower">Power</th> 
  </ng-container>
  <ng-container table-body>
    <ng-container *ngFor="let item_1 of item.requirements ; index as i">

      <tr *ngIf="showRow(item_1)">
        <td class="p-0" scope="row" [ngClass]="calc.calculateItem(item_1)">
          <div class="d-flex ">
            <img class="pt-1" width="32" *ngIf="item_1.item_from_gg && item_1.item_from_gg.image"
              [src]="item_1.item_from_gg.image" alt="Place image title">

          </div>
        </td>
        <td [ngClass]="calc.calculateItem(item_1)">
          <div *ngIf="!calc.calculateURL(item_1)">{{item_1.name}}</div>
          <div class=" " *ngIf="calc.calculateURL(item_1)" [ngClass]="calc.calculateItem(item_1)"><a
              href="{{calc.calculateURL(item_1)}}" target="_blank"
              [ngClass]="calc.calculateItem(item_1)">{{item_1.name}}</a></div>

        </td>
        <td [ngClass]="calc.calculateItem(item_1)">
          <div *ngIf="calc.hasRarity(item_1) &&  calc.hasItem(item_1)">
            &#x2713;
          </div>
          <div *ngIf="!calc.hasRarity(item_1)">
            <div *ngIf="item_1.player_item">
              <span class="px-2">{{item_1.player_item.data.rarity}}/{{item_1.stars}}</span>
            </div>
            <div *ngIf="!item_1.player_item">
              <span class="px-2">0/{{item_1.stars}}</span>
            </div>
          </div>
        </td>
        <td [ngClass]="calc.calculateItem(item_1)">
          <div *ngIf="calc.hasGear(item_1) &&  calc.hasItem(item_1)">
            &#x2713;
          </div>
          <div *ngIf="!calc.hasGear(item_1)">
            <div *ngIf="item_1.player_item">
              <span class="px-2">{{item_1.player_item.data.gear_level}}/{{item_1.gear_level}}</span>
            </div>
            <div *ngIf="!item_1.player_item">
              <span class="px-2">0/{{item_1.gear_level}}</span>
            </div>
          </div>
        </td>
        <td [ngClass]="calc.calculateItem(item_1)">
          <div *ngIf="calc.hasRelic(item_1) &&  calc.hasItem(item_1)">
            <!--&#x2713;-->
            <span *ngIf="item_1.player_item.data.relic_tier-2 >= 0 && item_1.relic_level"
              class="px-2">{{item_1.player_item.data.relic_tier-2}}/{{item_1.relic_level}}</span>
          </div>
          <div *ngIf="!calc.hasRelic(item_1)">
            <div *ngIf="item_1.player_item">
              <span *ngIf="item_1.player_item.data.relic_tier-2 >= 0"
                class="px-2">{{item_1.player_item.data.relic_tier-2}}/{{item_1.relic_level}}</span>
              <span *ngIf="item_1.player_item.data.relic_tier-2 < 0" class="px-2">0/{{item_1.relic_level}}</span>
            </div>
            <div *ngIf="!item_1.player_item">
              <span class="px-2">0/{{item_1.relic_level}}</span>
            </div>
          </div>
        </td>
        <td *ngIf="item.hasminimumpower" [ngClass]="calc.calculateItem(item_1)">
          <div *ngIf="item_1.player_item && item_1.minimum_power_toon">
            <div *ngIf="calc.hasPowerToon(item_1) &&  calc.hasItem(item_1)">
              &#x2713;
            </div>
            <div *ngIf="!calc.hasPowerToon(item_1)">
              <div *ngIf="item_1.player_item">
                <span class="px-2">{{item_1.player_item.data.power}}/{{item_1.minimum_power_toon}}</span>
              </div>
              <div *ngIf="!item_1.player_item">
                <span class="px-2">{{item_1.minimum_power_toon}}</span>
              </div>
            </div>
          </div>
          <div *ngIf="item_1.player_item && item_1.minimum_power_ship">
            <div *ngIf="calc.hasPowerShip(item_1) &&  calc.hasItem(item_1)">
              &#x2713;
            </div>
            <div *ngIf="!calc.hasPowerShip(item_1)">
              <div *ngIf="item_1.player_item">
                <span class="px-2">{{item_1.player_item.data.power}}/{{item_1.minimum_power_ship}}</span>
              </div>
              <div *ngIf="!item_1.player_item">
                <span class="px-2">{{item_1.minimum_power_ship}}</span>
              </div>
            </div>
          </div>
        </td>
      </tr>
    </ng-container>
  </ng-container>
</app-projection-card-body>
 