<div class="container-fluid" id="guilds-container">
  <div class="row" *ngIf="datavalues_obs$ | async as data">
    <div *ngFor="let guild of guilds; let i = index; trackBy: trackByGuild" class="col-12">
      
      <button
        [id]="generateButtonId(i)"
        class="btn btn-outline-warning dropdown-toggle btn-sm"
        type="button"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        {{ guild.data.name }}
      </button>

      <ul
        [id]="generateULId(i)"
        class="guilds-dropdown-menu dropdown-menu"
      >
        <li
          *ngFor="let member of guild.members; let j = index; trackBy: trackByMember"
          [id]="generateLIId(j)"
          [ngClass]="{ 'activeli': member.ally_code == allyCode }"
        >
          <button
            [id]="generateLIButtonId(j)"
            class="dropdown-item"
            (click)="changePlayer(member)"
          >
            {{ member.player_name }} (GP: {{ member.galactic_power }})
          </button>
        </li>
      </ul>

    </div>
  </div>
</div>
